<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-top">
 some text
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item bold">
        <%= link_to "HOME", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "COCKTAILS", cocktails_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "ADD A COCKTAIL", new_cocktail_path, class: "nav-link" %>
      </li>
    </ul>
  </div>
</div>
